@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
@* <div>
    <a href="home/CreateAuthor">CREATE AUTHOR</a>
</div> *@
<div>
    <a href="home/ListAllAuthor">List AUTHOR</a>
</div>
<div>
    <a href="home/Delte">Delete</a>
</div>
<div>
    <a href="Author">Author  page</a>
</div>
<div>
    <a href="emp">EMP</a>
</div>
@* <div>
    <a href="emp/details">EMP</a>
</div> *@
<div>
    <a href="Movie/delete">EMP</a>
</div>