
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoTask</title>
</head>
<body>
    <div>
      <h3> viewdatadotask: @ViewData["id"]</h3>
    </div>
</body>
</html>
