@using MVCForm.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBook</title>
</head>
<body>
    <div>
        @{
            Book b1 = (Book)ViewData["book"];

            if (b1 != null)
            {
                @b1.AuthorName
            }
            else
            {
                <strong>book is null</strong>
            }
        }
    </div>

</body>
</html>
