
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTime</title>
</head>
<body>
<h1>time: @ViewData["date"]</h1>
<div>
    <form action="GetTime">
        <input type="submit" class="btn btn-danger" value="😁😁😁😁😁😁😁😁😁" />
    </form>
</div>
</body>
</html>
