
@{
    ViewData["Title"] = "IndexPost";
}

<h1>IndexPost</h1>

<div>>
    <h3>viewdatax:@ViewData["x"]</h3>
    <h3>Tempdatax:@TempData["globalx"]</h3>
    <h3>viewdatay:@ViewData["globaly"]</h3>
</div>