
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="jumbotron">
    <div>INR: &#8377</div>
    <a asp-action="Echo" asp-route-name="sandy" asp-route-city="chennai">call echo</a>
    <a asp-action="SayHello" asp-route-name="sandy" >call SayHello</a>
    <div></div>
</div>
<hr/>