@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div>
    <a href="doctor/create">Create Doctor</a>
</div>
<div>
    <a href="doctor">Doctor</a>
</div>
<div>
    <a href="patient">PATIENT</a>
</div>
@* <div>
    <a href="patient/edit">Doctor</a>
</div> *@
<div>
    <a href="appointment">APPOINTMENT</a>
</div>